body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 4.5%;
    height: -webkit-fill-available;
    width: 75%;
    right: 0;
}

#menu {
    position: absolute;
    top: 4.5%;
    left: 0;
    width: 25%;
}


#boite {
    margin: 10px;
    padding: 10px;
    background: ligthgrey;
}

#kpis {
    z-index: 1000;
    position: absolute;
    /* top: 10.5%; */
    bottom: 10.5%;
    left: 30%;
    width: 5%;
}
